<div class="form_container">
    <form class='form_log-in' action="/admin/novedades/add" method="post">
        <input class='campo input' type="text" placeholder="Título" name="titulo">
        <textarea cols="30" rows="8" class="campo" placeholder="Cuerpo" name="cuerpo" ></textarea>
        <input class='campo input' type="text" placeholder="Fuente" name="fuente">
        <button class='campo button' type="submit">Guardar</button>
    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}
    </form>
</div>