<div class="form_container">
    <form class='form_log-in' action="/admin/login" method="post">
        <input class='campo input' type="text" id="inputUser" placeholder="Usuario" name="user">
        <input class='campo input' type="password" id="inputPassword" placeholder="Contraseña" name="password">
        <button class='campo button' type="submit">Ingresar</button>
    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}
    </form>
</div>