<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="logo">Internet of Things</div>
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
